<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eduaid Responsive Html5 Template</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Start Header -->
    <header>
        <div class="header_top_area my-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header_top d-flex justify-content-between">
                            <div class="site_logo">
                                <a href="index.html"><img src="assets/images/logo.png" alt="logo" class="img-fluid"></a>
                            </div>
                            <div class="site_info d-flex justify-content-between">
                                <div class="single_info">
                                    <img src="assets/images/location.png" alt="Location" class="img-fluid">
                                    <div class="info_data">
                                        <h6>Location</h6>
                                        <p>1010 New York, NY 10018 US</p>
                                    </div>
                                </div>
                                <div class="single_info">
                                    <img src="assets/images/phone.png" alt="Location" class="img-fluid">
                                    <div class="info_data">
                                        <h6>Phone</h6>
                                        <p>+880 2456 547</p>
                                    </div>
                                </div>
                                <div class="single_info">
                                    <button class="special-button" onclick="window.location.href = 'apply_form.html';">Apply Now <i class="fa fa-angle-right"></i> <span class="button_icon"><i class="far fa-file-alt"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu-area bg_dark_mobile">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-menu default_bg">
                            <nav class="navbar navbar-expand-lg">
                                <div class="mobile_site_logo d-none">
                                    <a href="index.html"><img src="assets/images/footer_logo.png" alt="logo" class="img-fluid"></a>
                                </div>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Home
                                        </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="index.html">Home - University</a>
                                                <a class="dropdown-item" href="index-2.html">Home - Modern University</a>
                                                <a class="dropdown-item" href="index-3.html">Home - Online Courses</a>
                                                <a class="dropdown-item" href="index-4.html">Home - Kindergarten</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about.html">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="courses.html">Courses</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                              Pages
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="departments.html">Departments</a></li>
                                                <li class="nav-item dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#" id="blogDropdown1" role="button" data-toggle="dropdown">
                                                        Blog
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="blogDropdown1">
                                                        <li><a class="dropdown-item" href="blog_01.html">Blog 1</a></li>
                                                        <li><a class="dropdown-item" href="blog_02.html">Blog 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="blog_details.html">Blog Details</a></li>
                                                <li><a class="dropdown-item" href="teachers.html">Teachers</a></li>
                                                <li><a class="dropdown-item" href="teacher_details.html">Teacher Details</a></li>
												<li><a class="dropdown-item" href="events.html">Events</a></li>
												<li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="students.html" class="nav-link" id="blod_pages">
                                                Students
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="result.html" class="nav-link">Result</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="notice.html" class="nav-link">Notice</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact.html" class="nav-link">Contact</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#search_modal" data-toggle="modal" data-target="#search_modal" class="nav-link"><i class="fa fa-search"></i></a>
                                        </li>
                                    </ul>
                                    <div class="collapse-bar">
                                        <a class="navbar-brand" data-toggle="collapse" href="#languages_options"><i class="fa fa-bars"></i></a>
                                        <div class="option-menu collapse" id="languages_options">
                                            <nav>
                                                <ul>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">English</a>
                                                        <a class="nav-link" href="#">Bangla</a>
                                                        <a class="nav-link" href="#">Hindi</a>
                                                        <a class="nav-link" href="#">Spanish</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal -->
            <!-- Start Search Modal -->
            <div class="modal fade" id="search_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title sm-sub-title">Search Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="search-widget">
                                <form action="#">
                                    <input type="text" class="form-control" placeholder="Search Here">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </form>
                        </div>
                    <div class="search-results">
                        <h5 class="my-4 sm-sub-title">10 Search Results Found</h5>
                        <div class="theme-list">
                            <ul>
                                <li><a href="#">Smply dummy text of the printing and typesetting industry</a></li>
                                <li><a href="#">Mauris at varius orci. Vestibulum um felis eu nisl pulvinar</a></li>
                                <li><a href="#">Welcome To Our Campus For Learn</a></li>
                                <li><a href="#">The point of using Lorem Ipsum is that it has a more-or-less </a></li>
                                <li><a href="#">has a more-or-less normal distribution of letters, as opposed to using.</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                                <li><a href="#">Build Education Website Using WP</a></li>
                                <li><a href="#">Build Education Website Using WordPress </a></li>
                                <li><a href="#">And Other Modern Technology</a></li>
                                <li><a href="#">assumenda est. Our friendly support team is standing.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button_one" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
             <!-- End Search Modal -->
        </div>
    </header>
    <!-- End Header -->
    <!-- Start Hero Area -->
    <section class="hero-section height-470" style="background-image:url(assets/images/about_us.png)" data-aos="fade-up">
        <div class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-hrader text-white text-center">
                            <h1 class="display-3">About Us</h1>
                            <div class="page-breadcrumb">
                                <p><a class="text-white" href="index.html">Home</a> - About us</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
        <!-- Start Services -->
        <section class="services-section section-ptb">
            <div class="services-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-xs-5" data-aos="fade-up" data-aos-delay="300">
                            <div class="single-service-3 text-center py-5 px-4 border">
                                <div class="service-icon">
                                    <img src="assets/images/service_icon_07.png" alt="service one" class="img-fluid">
                                </div>
                                <div class="service-text">
                                    <h4>Scholarship Facility</h4>
                                    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                                    <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-xs-5" data-aos="fade-up" data-aos-delay="400">
                            <div class="single-service-3 active text-center text-white py-5 px-4">
                                <div class="service-icon">
                                    <img src="assets/images/service_icon_01.png" alt="service one" class="img-fluid">
                                </div>
                                <div class="service-text">
                                    <h4>Skilled Lecturers</h4>
                                    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                                    <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-xs-5" data-aos="fade-up" data-aos-delay="500">
                            <div class="single-service-3 text-center py-5 px-4 border">
                                <div class="service-icon">
                                    <img src="assets/images/service_icon_08.png" alt="service one" class="img-fluid">
                                </div>
                                <div class="service-text">
                                    <h4>Book Library & Store</h4>
                                    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                                    <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Services -->
    <!-- Start Welcome Section -->
    <section class="welcome-section section-pb">
        <div class="welcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 mb-3d-5 pl-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="half_column_image owl-carousel image-gallery">
                            <div class="single-gallery">
                                <img src="assets/images/gallery_01.jpg" alt="welcome">
                            </div>
                            <div class="single-gallery">
                                <img src="assets/images/slider_bg_6.jpg" alt="welcome">
                            </div>
                            <div class="single-gallery">
                                <img src="assets/images/slider_bg_7.jpg" alt="welcome">
                            </div>
                            <div class="single-gallery">
                                <img src="assets/images/slider_bg_5.jpg" alt="welcome">
                            </div>
                            <div class="single-gallery">
                                <img src="assets/images/slider_bg_4.jpg" alt="welcome">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pr-120-lg" data-aos="fade-up" data-aos-delay="500">
                        <div class="half_column_content_2">
                            <h2 class="sub-title">Campus Tour</h2>
                            <p> dolore numquam, necessitatibus corporis vel. Lorem ipsum dolor sit amet consectetur. consectetur iusto consequatur vero voluptatibus maiores</p>
                            <div class="theme-list">
                                <ul>
                                    <li><a href="#">Best Industry Leaders</a></li>
                                    <li><a href="#">Learn Courses Online from FoxCoders</a></li>
                                    <li><a href="#">Best Environment to Learn Something New</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome Section -->
    <!-- Start Countdown -->
    <div class="countdown-area default_bg section-ptb overlay_2" style="background: url(assets/images/countdown_bg.jpg);" data-aos="fade-up" data-aos-delay="300">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-xs-5">
                    <div class="single-countdown">
                        <span class="counter">60</span>
                        <p>Teachers</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-5">
                    <div class="single-countdown">
                        <span class="counter">800</span>
                        <p>Students</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-5">
                    <div class="single-countdown">
                        <span class="counter">37</span>
                        <p>Courses</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-countdown">
                        <span class="counter">19</span>
                        <p>National Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Countdown -->
    <!-- Start Featured-2 Section-->
    <section class="featured-2-section section-ptb" data-aos="fade-up" data-aos-delay="300">
        <div class="featured-area-2">
            <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="section-title">
                        <h2>Why Choose Us? </h2>
                        <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-3d-5">
                        <div class="featured-2-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quod! In vero voluptate blanditiis error cum nesciunt exercitationem? Commodi iure, autem eligendi animi soluta placeat ut obcaecati voluptatibus tempore magni!</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, dicta!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit.</p>
                            <a href="#" class="button_one">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="featured-2-wrapper">
                            <div class="single-featured-3 d-flex">
                             <div class="featured-2-icon">
                                    <i class="fas fa-user-injured"></i>
                                </div>
                                <div class="featured-2-text">
                                    <h5>Expert Teachers</h5>
                                    <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                              </div>
                            </div>
                            <div class="single-featured-3 d-flex">
                             <div class="featured-2-icon">
                                    <i class="fab fa-napster"></i>
                                </div>
                                <div class="featured-2-text">
                                    <h5>Multimedia Class</h5>
                                    <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                              </div>
                            </div>
                            <div class="single-featured-3 d-flex">
                             <div class="featured-2-icon">
                                    <i class="fas fa-microphone"></i>
                                </div>
                                <div class="featured-2-text">
                                    <h5>Music & Art Class</h5>
                                    <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="featured-2-wrapper">
                            <div class="single-featured-3 d-flex">
                             <div class="featured-2-icon">
                                    <i class="fas fa-music"></i>
                                </div>
                                <div class="featured-2-text">
                                    <h5>Quizzes Wich Can Be</h5>
                                    <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                              </div>
                            </div>
                            <div class="single-featured-3 d-flex">
                             <div class="featured-2-icon">
                                    <i class="fas fa-compact-disc"></i>
                                </div>
                                <div class="featured-2-text">
                                    <h5>Quizzes Wich Can</h5>
                                    <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                              </div>
                            </div>
                            <div class="single-featured-3 d-flex">
                             <div class="featured-2-icon">
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                                <div class="featured-2-text">
                                    <h5>Managed Teachers</h5>
                                    <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured-2 Section-->
    <!-- Start Our Team Carousel -->
    <section class="team-section section-ptb dark_3_bg" data-aos="fade-up" data-aos-delay="300">
        <div class="our-team-area show_navigation_3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="section-title-2 text-center mb-4">
                            <h2>Our Instructor</h2>
                            <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="our-team-carousel-3 owl-carousel">
                            <div class="single-team bg-white">
                                <div class="member-image-2">
                                    <img src="assets/images/member_07.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile-3">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info-3 border border-top-0 text-center p-4">
                                    <div class="designation mb-3">
                                        <h5>Mohammad MK</h5>
                                        <span>UI/UX Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-team bg-white">
                                <div class="member-image-2">
                                    <img src="assets/images/member_08.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile-3">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info-3 border border-top-0 text-center p-4">
                                    <div class="designation mb-3">
                                        <h5>Stephen Hoking</h5>
                                        <span>Physics Teacher</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-team bg-white">
                                <div class="member-image-2">
                                    <img src="assets/images/member_09.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile-3">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info-3 border border-top-0 text-center p-4">
                                    <div class="designation mb-3">
                                        <h5>Micheal Jhon</h5>
                                        <span>Senior Teacher</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-team bg-white">
                                <div class="member-image-2">
                                    <img src="assets/images/member_08.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile-3">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info-3 border border-top-0 text-center p-4">
                                    <div class="designation mb-3">
                                        <h5>Micheal Jhon</h5>
                                        <span>Senior Teacher</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Team Carousel -->
        <!-- Start Testimonials Section -->
        <section class="testimonials-section section-ptb" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonials-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center pb-0">
                                <h2>What Our Students Say</h2>
                             </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <div class="testimonials-wrapper-3 owl-carousel">
                                <div class="single-testimonial-3 text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.  Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipisicing</p>
                                    <div class="testimonial-referance">
                                        <strong>Mohammad Abdullah </strong>  
                                        <span> - UI Designer</span>
                                    </div>
                                </div>
                                <div class="single-testimonial-3 text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.  Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipisicing</p>
                                    <div class="testimonial-referance">
                                        <strong>Mohammad Abdullah </strong>  
                                        <span> - UI Designer</span>
                                    </div>
                                </div>
                                <div class="single-testimonial-3 text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.  Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipisicing</p>
                                    <div class="testimonial-referance">
                                        <strong>Mohammad Abdullah </strong>  
                                        <span> - UI Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials Section -->
    <!-- Start Footer -->
    <footer data-aos="fade-up" data-aos-delay="300">
        <div class="footer-area default_bg">
            <div class="footer-top section-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-xs-5">
                            <div class="single_widget">
                                <div class="address-widget">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/footer_logo.png" alt="" class="img-fluid"></a>
                                    </div>
                                    <p>900 Lucerne Station Road Terrace, Orlando, FL 32806, USA contact@eduaid.com</p>
                                    <span>+892 5555 444</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3d-5">
                            <div class="single_widget">
                                <h3>Useful Links</h3>
                                <div class="widget-list">
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Our Instructors</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Service Plus</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-xs-5">
                            <div class="single_widget">
                                <h3>Our Services</h3>
                                <div class="widget-list">
                                    <ul>
                                        <li><a href="#">CSE Engeering</a></li>
                                        <li><a href="#">Graduation</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">Admission</a></li>
                                        <li><a href="#">Internation</a></li>
                                        <li><a href="#">Faqs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single_widget">
                                <h3>Latest News</h3>
                                <div class="widget-item">
                                    <div class="widget-image">
                                        <a href="#"><img src="assets/images/blog_01.jpg" alt="blog one" /></a>
                                    </div>
                                    <div class="widget-content">
                                        <h5><a href="#">7 Step Social Media Marke ting Strategy</a></h5>
                                        <div class="widget-meta">
                                            <span>05 Jan 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-item">
                                    <div class="widget-image">
                                        <a href="#"><img src="assets/images/blog_02.jpg" alt="blog one" /></a>
                                    </div>
                                    <div class="widget-content">
                                        <h5><a href="#">7 Step Social Media Marke ting Strategy</a></h5>
                                        <div class="widget-meta">
                                            <span>05 Jan 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-wrapper border-top py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-bottom">
                                <div class="copyright-text">
                                    <p>Eduaid 2019. All Rights Reserved.</p>
                                </div>
                                <div class="social-accounts">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-top">
            <div class="scroll-icon">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="assets/js/jquery-3.4.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/bootnavbar.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>